<!DOCTYPE html>
<html>
<head>
  <title>Push • <%= @title %></title>
  <link rel="stylesheet" media="screen, projection" type="text/css" href="/assets/app.css">

  <% if @refresh_automatically %>
    <meta http-equiv="refresh" content="6">
  <% end %>
</head>


<body style="">
  <nav class="navbar navbar-static-top" role="navigation"><section class="container">
    <div class="navbar-header">
    <button class="navbar-toggle" data-target=".navbar-header-collapse" data-toggle="collapse" type="button">
      <span class="sr-only">Toggle navigation</span><span class="glyphicon-plus"></span>
    </button>
    <a class="navbar-brand" href="http://cocoapods.org"></a></div>

    <div class="collapse navbar-collapse navbar-header-collapse">
      <ul class="nav navbar-nav navbar-right">
          <li><a href="<%= url('/pods') %>">Pods &amp; Owners</a></li>
          <li><a href="<%= url('/versions') %>">Versions</a></li>
          <li><a href="<%= url('/commits') %>">Commits</a></li>
          <li><a href="<%= url('/log_messages') %>">Log Messages</a></li>
          <li><a href="<%= url('/disputes?scope=unsettled') %>">Disputes</a></li>
      </ul>
    </div>
  </nav>


  <div class="container">
    <%= yield %>

    <% if @collection && @collection.page_count > 1 %>
      <% params.delete(:page) %>
      <% pages_to_link_to(@collection).each do |page| %>
        <%= page.is_a?(String) ? page : link_to_page(page, @collection) %>
      <% end %>
    <% end %>
  </div>
</body>
</html>
