<% @title = @commit.pod_version.pod.name %>

<div class="page-header">
  <h1><%= @commit.pod_version.pod.name %> <small><%= @commit.pod_version.name %></small></h1>
</div>

<dl class="dl-horizontal">
  <dt>Status</dt>
  <dd>
    <% if @commit.pushed? %>
      <span class="label label-success">Pushed</span>
    <% elsif @commit.pushed? == false %>
      <span class="label label-important">Failed</span>
    <% else %>
      <span class="label">In progress</span>
    <% end %>
  </dd>
  <dt>Id</dt>
  <dd><%= @commit.id %></dd>
  <dt>SHA</dt>
  <dd><%= @commit.sha || 'not yet pushed' %><dd>
</dl>

<hr>

<h3>Push jobs</h3>
<% @commit.push_jobs.each do |job| %>
  <!-- TODO Extract into partial. -->
  <dl class="dl-horizontal">
    <dt>Committer</dt>
    <dd><%= job.commit.committer.name %> &lt;<%= job.commit.committer.email %>&gt;</dd>
    <dt>Duration</dt>
    <dd><%= formatted_duration job.duration %><dd>
  </dl>
<% end %>

<hr>

<h3>Specification JSON</h3>
<pre><code><%= @commit.specification_data %></code></pre>
