<% @title = @commit.pod_version.pod.name %>

<div class="page-header">
  <h1><%= @commit.pod_version.pod.name %> <small><%= @commit.pod_version.name %></small></h1>
</div>

<dl class="dl-horizontal">
  <dt>ID</dt>
  <dd><%= @commit.id %></dd>
  <dt>SHA</dt>
  <dd><%= @commit.sha %><dd>
  <dt>Committer</dt>
  <dd><%= @commit.committer.public_attributes %></dd>
</dl>

<hr>

<h3>Specification JSON</h3>
<pre><code><%= @commit.specification_data %></code></pre>
