<% @title = @job.pod_version.pod.name %>

<div class="page-header">
  <h1><%= @job.pod_version.pod.name %> <small><%= @job.pod_version.name %></small></h1>
</div>

<% if params[:progress] == 'true' %>
  <h3><%= @job.tasks_completed %> out of <%= Pod::TrunkApp::SubmissionJob.tasks.size %> tasks completed</h3>
  <div class="progress progress-striped <%= 'active' if @job.in_progress? %>">
    <div class="bar" style="width: <%= (100.0 / Pod::TrunkApp::SubmissionJob.tasks.size) * @job.tasks_completed %>%;"></div>
  </div>
  <hr>
<% end%>

<dl class="dl-horizontal">
  <dt>Status</dt>
  <dd>
    <% if @job.succeeded == true %>
      <span class="label label-success">Published</span>
    <% elsif @job.succeeded == false %>
      <span class="label label-important">Failed</span>
    <% else %>
      <span class="label">In progress</span>
    <% end %>
  </dd>
  <dt>Owner</dt>
  <dd><%= @job.owner.name %> &lt;<%= @job.owner.email %>&gt;</dd>
  <dt>Attempts</dt>
  <dd><%= @job.attempts %></dd>
  <dt>Duration</dt>
  <dd><%= formatted_duration @job.duration %><dd>
  <dt>Pull-request</dt>
  <dd><a href="https://github.com/<%= ENV['GH_REPO'] %>/pull/<%= @job.pull_request_number %>"><%= @job.pull_request_number %></a></dd>
  <dt>Travis build</dt>
  <dd>
    <% if @job.travis_build_id %>
      <a href="<%= @job.travis_build_url %>"><%= @job.travis_build_id %></a>
    <% else %>
      n/a
    <% end %>
  </dd>
</dl>

<hr>

<h3>Log messages</h3>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Logged at</th>
      <th>Message</th>
    </tr>
  </thead>
  <tbody>
    <% @job.log_messages.each do |log_message| %>
      <tr>
        <td><%= log_message.created_at %></td>
        <td><%= log_message.message %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>

<h3>Specification YAML</h3>
<pre><code><%= @job.specification_data %></code></pre>
