<% @title = @pod.name %>

<h2><%= h(@pod.name) %></h2>

<h3>Versions</h3>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Version</th>
      <th>Commit</th>
      <th>SHA</th>
      <th>Published At</th>
    </tr>
  </thead>
  <tbody>
    <% @pod.versions.each do |version| %>
      <tr>
        <td>
          <%= h(version.name) %>
        </td>
        <% if version.published? %>
          <td>
            <%= commit_link(version.last_published_by) %>
          </td>
          <td>
            <a href="<%= h(version.data_url) %>"><%= h(version.commit_sha) %></a>
          </td>
          <td>
            <%= version.last_published_by.created_at.to_formatted_s(:rfc822) %>
          </td>
        <% else %>
          <td>Unpublished</td>
          <td></td>
          <td></td>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<h3>Owners</h3>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% @pod.owners.each do |owner| %>
      <tr>
        <td>
          <%= owner_link(owner) %>
        </td>
        <td><%= h(owner.name) %></td>
        <td><a href="mailto:<%= h(owner.email) %>"><%= h(owner.email) %></a></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h4>Add Owner</h4>

<form action="/manage/pods/<%= h(@pod.name) %>/owners" method="post">
  <input type="email" name="email" placeholder="Owner's Email"></input>
  <input type="submit" value="Add">
</form>

