<% @title = 'Pods' %>

<h2>Pods</h2>

<form>
  <input type="text" name="name" placeholder="Regexp search" value="<%= params[:name] %>"></input>
</form>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Owners</th>
    </tr>
  </thead>
  <tbody>
    <% @collection.each do |pod| %>
      <tr>
        <td><a href="pods/<%= pod.name %>"><%= pod.name %></a></td>
        <td>
          <% pod.owners.each do |owner| %>
            <input type="hidden" name="pod" value="<%= pod.id %>" />
            <input type="hidden" name="owner" value="<%= owner.id %>" />
            <input class="btn btn-small" type="submit" value="Remove <%= "#{owner.name} &lt;#{owner.email}&gt;" %>" />
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<script src="/assets/app.js" type="text/javascript"></script>
<script type="text/javascript">
  $(window).load(function() {
    $('input[type=submit]').click(function(event) {
      var buttonTarget = event.currentTarget;

      buttonTarget.timesClicked = buttonTarget.timesClicked || 0;

      var button     = $(buttonTarget);
      var ownerInput = button.prev('input[name=owner]');
      var podInput   = ownerInput.prev('input[name=pod]');
      var owner      = ownerInput.val();
      var pod        = podInput.val();

      // They need to be really really really sure ;)
      //
      if (buttonTarget.timesClicked == 3) {
        $.post(
          '/manage/owners/delete',
          { owner: owner, pod: pod },
          function(owner) {
            button.replaceWith('Removed ' + owner.name + ' &lt;' + owner.email + '&gt;.');
            ownerInput.remove();
            podInput.remove();
          },
          'json'
        );
      } else {
        button.val('Really ' + button.val() + '?');
        if (buttonTarget.timesClicked == 0) { button.addClass('btn-warning'); }
        buttonTarget.timesClicked += 1;
      }
    });
  });
</script>
